.indicator-item, active {
    list-style: none;
    color: black;
}

ul {
    list-style: none;
    margin-left: 300 vw;
}
.slider-img {

opacity: 0.5;
filter: alpha(opacity=50); 
}

.slider .indicators {
    margin-bottom: 20px;
    position: relative;
}

.slider {
    background-color:  #f5f5f5 !important
}

.slider .indicators .indicator-item.active {
    background-color: rgb(235, 32, 116);
}

.bottomm {
    margin-top: 300px;
}