
.register-q {
  font-size: 12pt;
  text-decoration: underline;
  color: #7e0d88;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.login-buttons {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 20%;

}

.form {
  margin-top: 100px;
  padding: 0px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.validate {
  padding-top: 20px;
  color: rgb(138, 138, 138);
  padding-bottom: 0px;
}


#title {
  background-color: #ff9381;
  color: white;
  padding: 8px;
  margin-top: 10px;
  border-radius: 3px;
}

form {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

#username, #password {
  margin-left: 20px;
  margin-right: 20px;
}

#checkbox {
  margin-left: 30px;
}

