/* .section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
} */

.responsive-img {
    border-radius: 5px
  }
  
  hr {
    border-color: #ef5350;
    height: 1px;
    border: 0;
    border-top: 1px solid #ef5350;
  }
  
  .section-follow .fa-4x {
    margin: 5px 10px;
  }
  
  .gerds {
    color: maroon;
  }
  
  .brand-logo {
    font-family: 'Muli', sans-serif;
  }
  
  .center-btn {
    text-align: center;
  
  }
  
  
  /*  color #26a69a is the default color in SASS __varaibles that cannot change. WANT COLOR #f95959  */