
.responsive-img {
    border-radius: 5px;
    height: 246px;
  }
  
  hr {
    border-color: #ef5350;
    height: 1px;
    border: 0;
    border-top: 1px solid #ef5350;
  }
  .red.lighten-2 {
    background-color: #ee6e73 !important;
}

  .section-follow .fa-4x {
    margin: 5px 10px;
  }
  
  .gerds {
    color: maroon;
  }
  
  .brand-logo {
    font-family: 'Muli', sans-serif;
  }
  
  .center-btn {
    text-align: center;
  
  }

  .course_card {
    position: relative;
    cursor: pointer;

  }


